# Database PostgreSQL
# DATABASE_URL=""

# GitHub OAuth App
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_TOKEN=""

# Google Gemini AI Key & Model
GEMINI_API_KEY=""
GEMINI_MODEL=""

# Security & Sessions (AES-256-GCM 32-byte hex key)
AUTH_SECRET=""
ENCRYPTION_KEY=""

# Application URL
NEXT_PUBLIC_APP_URL=""
